#board {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 33.33%;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 100%;
    border-radius: 10px;
}

.cell button {
    width: 100%;
    height: 100%;
    font-size: 50px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.cell span {
    font-size: 50px;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 98%;
    height: 98%;
}

.game-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.game-content .game-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    max-width: 250px;
    padding: 10px;
}

.text-red {
    color: red;
}

.text-white {
    color: white;
}

body {
    background-image: url("/img/wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.cell-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

#returnToStart {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#returnToStart:hover {
    background-color: #45a049;
}

.back-home-btn {
    background-color: red;
    color: white;
    padding: 16px 32px;      /* Increased padding for a larger size */
    margin: 10px;
    font-size: 20px;         /* Larger text */
    border: none;
    border-radius: 12px;     /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-home-btn:hover {
    background-color: darkred;
}
